input{
  padding: 6px;
}
.logintitle{
  color: #B22222;
}
.loginslogan{
  color: #B22222;
}

.Signuptitle{
  color: #B22222;
}

.App {
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.Email{
  text-align: inherit;
  color: #B22222;
  font-size: 18px;
}

.Password{
  text-align: inherit;
  color: #B22222;
  font-size: 18px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.FormField {
  margin-bottom: 20px;
}
.FormField__Button {
  color: black;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 20px;
}
.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField__Button{
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.FormField__Button:hover,
.FormField__Button:active{
  background-color: #C14242;
 box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
